In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [228]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1767,tt0419887,20000000,73276047,The Kite Runner,Khalid Abdalla|Atossa Leoni|Shaun Toub|Zekeria...,Marc Forster,There is a way to be good again.,The Kite Runner is a 2007 American drama film ...,128,Drama,DreamWorks SKG|MacDonald/Parkes Productions|Si...,10/14/2007,7.3,2007
402,tt1245526,58000000,71664962,RED,Bruce Willis|John Malkovich|Helen Mirren|Mary-...,Robert Schwentke,Still armed. Still dangerous. Still got it.,When his peaceful life is threatened by a high...,111,Action|Adventure|Comedy|Crime|Thriller,DC Comics|Di Bonaventura Pictures|Summit Enter...,10/13/2010,6.5,2010
1220,tt2404311,30000000,36894225,The Family,Robert De Niro|Michelle Pfeiffer|Dianna Agron|...,Luc Besson,Some call it organized crime. Others call it f...,"The Manzoni family, a notorious mafia clan, is...",111,Crime|Comedy|Action,Canal Plus|TF1 Films Production|Grive Producti...,9/13/2013,6.1,2013
1057,tt0383010,30000000,54819301,The Three Stooges,Sean Hayes|Will Sasso|Chris Diamantopoulos|Sof...,Bobby Farrelly|Peter Farrelly,Just Say Moe.,While trying to save their childhood orphanage...,92,Comedy,Wessler Entertainment,4/13/2012,4.9,2012
1130,tt0309593,26000000,90426405,Final Destination 2,Ali Larter|A.J. Cook|Michael Landes|Tony Todd|...,David R. Ellis,Death is like a boomerang. it keeps coming back,When Kimberly has a violent premonition of a h...,90,Horror|Mystery,New Line Cinema|Zide-Perry Productions,1/31/2003,5.9,2003

In [229]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [230]:
answers = {} 

data['profit'] = data.revenue - data.budget
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [231]:
answers['1'] = '+ Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [232]:
# Option Nº1:
data.sort_values(by='budget', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [233]:
# Option Nº2:
biggest_budget = data.original_title[data.budget == data.budget.max()]
display(biggest_budget)

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [234]:
answers['2'] = '+ Gods and Generals (tt0279111)'

In [235]:
longest_movie = data.original_title[data.runtime == data.runtime.max()]
display(longest_movie)

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [236]:
answers['3'] = '+ Winnie the Pooh (tt1449283)'

In [237]:
shortest_movie = data.original_title[data.runtime == data.runtime.min()]
display(shortest_movie)

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [238]:
answers['4'] = '+ 110'

In [239]:
mean_runtime = data['runtime'].mean()
display(round(mean_runtime, 0))

110.0

# 5. Каково медианное значение длительности фильмов?

In [240]:
answers['5'] = '+ 107'

In [241]:
median_runtime = data['runtime'].median()
display(round(median_runtime, 0))

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [242]:
answers['6'] = '+ Avatar (tt0499549)'

In [243]:
biggest_profit = data.original_title[data.profit == data.profit.max()]
display(biggest_profit)

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [245]:
answers['7'] = '+ The Lone Ranger (tt1210819)'

In [246]:
data.original_title[data.profit == data.profit.min()]

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [247]:
answers['8'] = '+ 1478'

In [248]:
profitable_data = data[data['profit']>0] ## выбираем только фильмы с доходом больше 0
display(len(profitable_data))

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [249]:
answers['9'] = '+ The Dark Knight (tt0468569)'

In [250]:
max_profit_title_2008 = data[data['release_year']==2008]
display(max_profit_title_2008.sort_values('profit',ascending=False).head(1))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [251]:
answers['10'] = '+ The Lone Ranger (tt1210819)'

In [252]:
data[(data.release_year <= 2014) & (data.release_year >= 2012)].sort_values(by='profit').head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [253]:
answers['11'] = '+ Drama'

In [254]:
data.genres = data.genres.str.split('|')
most_popular_genres = data.explode('genres')
most_popular_genres.groupby(['genres']).count().imdb_id.idxmax()

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [255]:
answers['12'] = '+ Drama'

In [265]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget
data=data.loc[data['profit']>0]

data.genres = data.genres.str.split('|')
data=data.explode('genres')

total_profit=data.groupby(['genres']).count().imdb_id.idxmax()
display(total_profit)

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [260]:
answers['13'] = '+ Peter Jackson'

In [305]:
data_director = data.director.str.split('|')
director_data = data.explode('director')
total_profit = director_data.groupby(['director']).sum().revenue.idxmax()
display(total_profit)

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [275]:
answers['14'] = '+ Robert Rodriguez'

In [323]:
data[data.genres.str.contains('Action', na=False)].director.str.split('|').explode('director').mode()

0    Robert Rodriguez
dtype: object

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [276]:
answers['15'] = '+ Chris Hemsworth'

In [307]:
data = pd.read_csv('movie_bd_v5.csv')

data.cast = data.cast.apply(lambda x: x.split('|'))
data_actor = data.explode('cast')

grouped_actor_dir = data_actor[data_actor.release_year == 2012].groupby(['cast'])['revenue'].sum().sort_values(ascending=False)

display(grouped_actor_dir.index[0])

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [278]:
answers['16'] = '+ Matt Damon'

In [308]:
data = pd.read_csv('movie_bd_v5.csv')
data.cast = data.cast.apply(lambda x: x.split('|'))
data_actor = data.explode('cast')

grouped_actor_dir = data_actor[data_actor.budget > data_actor.budget.mean()].cast.value_counts()

display(grouped_actor_dir.index[0])

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [280]:
answers['17'] = '+ Action'

In [309]:
data = pd.read_csv('movie_bd_v5.csv')

data.cast = data.cast.apply(lambda x: x.split('|'))
data.genres = data.genres.apply(lambda x: x.split('|'))
data_actor_gen = data.explode('cast').explode('genres')
grouped_actor_dir = data_actor_gen[data_actor_gen.cast == 'Nicolas Cage'].genres.value_counts()

display(grouped_actor_dir.index[0])

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [282]:
answers['18'] = '+ The Widowmaker (tt0267626)'

In [324]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget

data.production_companies = data.production_companies.str.split('|')
data=data.explode('production_companies')

data=data.loc[data['production_companies'] == 'Paramount Pictures']

data=data.loc[data['profit'] == data['profit'].min()]

display(data.original_title)

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [284]:
answers['19'] = '+ 2015'

In [311]:
data = pd.read_csv('movie_bd_v5.csv')

total_revenue_list = data.groupby(['release_year'])['revenue'].sum()

total_revenue = total_revenue_list.reset_index()
total_revenue = total_revenue.loc[total_revenue['revenue'] == total_revenue['revenue'].max()]

display(total_revenue.release_year)

15    2015
Name: release_year, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [286]:
answers['20'] = '+ 2014'

In [312]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget

data.production_companies = data.production_companies.str.split('|')
data=data.explode('production_companies')

data=data.loc[data['production_companies'].str.contains('Warner')]
data.drop_duplicates(subset = 'imdb_id', keep = 'first', inplace = True)

data.groupby(['release_year'])['profit'].sum().idxmax()

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [288]:
answers['21'] = '+ Сентябрь'

In [313]:
data = pd.read_csv('movie_bd_v5.csv')
data['release_date'] = pd.to_datetime(data['release_date'])
data['month'] = data['release_date'].map(lambda release_date: release_date.month)

data.groupby(['month'])['imdb_id'].count().idxmax()

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [290]:
answers['22'] = '+ 450'

In [314]:
data = pd.read_csv('movie_bd_v5.csv')

data['release_date'] = pd.to_datetime(data['release_date'])
data['month'] = data['release_date'].map(lambda release_date: release_date.month)

data=data.loc[(data['month'] == 6) | (data['month'] == 7) | (data['month'] == 8)]

data['imdb_id'].count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [293]:
answers['23'] = '+ Peter Jackson'

In [315]:
data = pd.read_csv('movie_bd_v5.csv')

data['release_date'] = pd.to_datetime(data['release_date'])
data['month'] = data['release_date'].map(lambda release_date: release_date.month)

data=data.loc[(data['month'] == 1) | (data['month'] == 11) | (data['month'] == 12)]

data.director = data.director.str.split('|')
data=data.explode('director')

data.groupby(['director'])['imdb_id'].count().idxmax()

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [295]:
answers['24'] = '+ Four By Two Productions'

In [316]:
data = pd.read_csv('movie_bd_v5.csv')
data['name_len'] = data.original_title.str.len()

data=data.loc[data['name_len'] == data['name_len'].max()]

data.production_companies = data.production_companies.str.split('|')
data=data.explode('production_companies')

display(data.production_companies)

1448    Twentieth Century Fox Film Corporation
1448                   Four By Two Productions
Name: production_companies, dtype: object

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [297]:
answers['25'] = '+ Midnight Picture Show'

In [317]:
data = pd.read_csv('movie_bd_v5.csv')
data.overview = data.overview.str.split(' ')

data['description_len'] = data.overview.apply(len)

data.production_companies = data.production_companies.str.split('|')
data=data.explode('production_companies')

data.groupby(['production_companies'])['description_len'].mean().idxmax()

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [299]:
answers['26'] = '+ Inside Out, The Dark Knight, 12 Years a Slave'

In [318]:
data = pd.read_csv('movie_bd_v5.csv')
data_sorted = data.sort_values(['vote_average'], ascending=[False])
x=int(round(data_sorted.imdb_id.count()/100))
data_sorted.original_title.head(10)

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [301]:
answers['27'] = '+ Daniel Radcliffe /Rupert Grint'

In [319]:
from collections import Counter
from itertools import combinations
data = pd.read_csv('movie_bd_v5.csv')

pairs = Counter()
for i in range(0,len(data)):
    artists = data.cast[i].split('|')
    for j in list(combinations(artists, 2)):
        if j not in pairs:
            pairs[j] = 1
        else:
            pairs[j] += 1
pairs.most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

# Submission

In [303]:
answers

{'1': '+ Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '+ Gods and Generals (tt0279111)',
 '3': '+ Winnie the Pooh (tt1449283)',
 '4': '+ 110',
 '5': '+ 107',
 '6': '+ Avatar (tt0499549)',
 '7': '+ The Lone Ranger (tt1210819)',
 '8': '+ 1478',
 '9': '+ The Dark Knight (tt0468569)',
 '10': '+ The Lone Ranger (tt1210819)',
 '11': '+ Drama',
 '12': '+ Drama',
 '13': '+ Peter Jackson',
 '14': '+ Robert Rodriguez',
 '15': '+ Chris Hemsworth',
 '16': '+ Matt Damon',
 '17': '+ Action',
 '18': '+ The Widowmaker (tt0267626)',
 '19': '+ 2015',
 '20': '+ 2014',
 '21': '+ Сентябрь',
 '22': '+ 450',
 '23': '+ Peter Jackson',
 '24': '+ Four By Two Productions',
 '25': '+ Midnight Picture Show',
 '26': '+ Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '+ Daniel Radcliffe /Rupert Grint'}

In [304]:
len(answers)

27